run = "npm run dev"
entrypoint = "src/app/page.tsx"
hidden = ["**/.config", "**/node_modules"]

[packager]
language = "typescript"

  [packager.features]
  nodeVersion = "18"
  unitTests = false
  packageManager = "npm"
  guessImports = true
  enabledForHosting = false
