run = "npm run dev"
entrypoint = "src/app/page.tsx"
hidden = ["**/.config", "**/node_modules"]
modules = ["nodejs-20", "postgresql-16"]

[packager]
language = "nodejs"

  [packager.features]
  nodeVersion = "18"
  unitTests = false
  packageManager = "npm"
  guessImports = true
  enabledForHosting = false

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
